.container{
    border: 1px solid;
}

.pics{
    height: 150px;
    width: 150px;
    padding: 10px;
}
.row{
    border: 1px solid;
    margin: auto;
    margin-top: 20px;

}
.cont3{
    margin-bottom: 20px;
}
